<div id="braintree-frame" data-payment-method-id="<%= payment_method.id %>" data-client-token="<%= payment_method.generate_client_token %>"></div>
<div id="braintree-error-message"></div>
<%= hidden_field_tag "payment_source[#{payment_method.id}][nonce]", '', :id => 'braintree_nonce' %>
